auth_enabled: false

ingester:
  chunk_idle_period: 3m
  chunk_retain_period: 1m
  max_chunk_age: 1h
  max_streams_per_user: 10000
  lifecycler:
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1

limits_config:
  enforce_metric_name: false
  reject_old_samples: true
  reject_old_samples_max_age: 168h
  ingestion_rate_mb: 10
  max_global_streams_per_user: 10000

schema_config:
  configs:
    - from: 2023-01-01
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h

server:
  http_listen_port: 3100
  log_level: info
  log_format: json

storage_config:
  boltdb_shipper:
    active_index_directory: /loki/boltdb-shipper-active
    cache_location: /loki/boltdb-shipper-cache
    shared_store: filesystem
  filesystem:
    directory: /loki/chunks

chunk_store_config:
  max_look_back_period: 0s
  default_cache_ttl: 1h

table_manager:
  enabled: false
  retention_deletes_enabled: true
  retention_period: 720h # 30 days

query_range:
  align_queries_with_step: true
  max_cache_freshness_per_query: 10m
  cache_results: true
  results_cache:
    cache:
      enable_fifocache: true
      default_validity: 1m
      background:
        writeback_goroutines: 10
        writeback_chan_size: 10000

querier:
  query_timeout: 5m
  query_ingesters_within: 3h

runtime_config:
  period: 10s
  file: /etc/loki/runtime-config.yml
